<nav>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/home">
        <p class="icon">🌌</p>
        Overview
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/pessoal">
        <p class="icon">🧑‍🚀</p>
        Agentes
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [class.disabled]="!global.idAgenteSelecionado">
      @if (global.idAgenteSelecionado) {
        <a routerLink="/rotinas">
          <p class="icon">⏰</p>
          Rotina
        </a>
      } @else {
        <span class="nav-disabled">
          <p class="icon">⏰</p>
          Rotina
        </span>
      }
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/sinais-vitais">
        <p class="icon">💓</p>
        Sinais Vitais
      </a>
    </li>
  </ul>
</nav>